.App {
  text-align: center;
}

body{
  background-color: cadetblue;
}

.navlinkstyle{
  /* display: block; */
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-style: italic;
  color: blueviolet;
  padding: 8px;
}

.forecastResult{
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  color: blueviolet;
}

.dayHeading{
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  color: brown;
}

#weatherHeading{
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  color: brown;

}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;

}

li{
  display: inline-block;
  padding:10px;
  text-align: center;
}

.forecast{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

/* Reference: https://stackoverflow.com/questions/23506141/having-trouble-increasing-spacing-between-horizontal-menu-items-with-css */